.App {
  text-align: left;
}

.App-header {
  background-color: #FABB83;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #5E636C;
}

.ligne {
  display: inline;
  margin-left:10px;
  margin-right:10px
}

.a_remplir{
 display:inline;
 margin-left: 20px;
 margin-right: 20px;

}

.App-body {
  background-color: #DFEDF4;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-content:space-around;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #5E636C;
  font-family : "Constantia";
 }

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 15vmin;
  pointer-events: none;
}

.App-footer {
  background-color: #5E636C;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
}

h2 {font-size:25px }

label {
    display: block;
    font: 1rem 'Constantia', sans-serif;
}

input , label {
    margin: 5px;
}

table,
td {
    border: 1px solid #333;
    margin: 2rem 0;
    font-size:18px
}

thead,
tfoot {
    background-color: #5E636C;
    color: #fff;
}

.BandeNoire {
    background-color:#5E636C;
    min-height: 2vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
